*{
    box-sizing: border-box;
    font-family: 'chewy', cursive;
}
body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/Emojis.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
    font-weight: 600;
    font-size: 5rem;
    margin: 0;
    padding: auto;
}
p{
    font-size: 1.5rem;
}
h2{
    font-size: 2rem;
}
button{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#back-btn {
    background-color: gray;
}


#home, #levels, #game {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.level{
    display: flex;
    margin-bottom: 70px;
    gap: 30px;
}

#home {
  display: flex;
}


/* Card Flipping styles */

.card{
    width:100px;
    height:100px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
}

.card-inner.flipped{
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.front{
    background-color: #4CAF50;
}

.back{
    background-color: #a65ceb;
    transform: rotateY(180deg);
}

#cardImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* Game board styles  */

.game-board{
    display: grid;  
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    width: max-content;
    gap: 15px;
    margin: 40px auto;
}